# Временные файлы системы
*.tmp

# Файлы логов (много места, не нужны в репозитории)
*.log

# Конфигурационные файлы с секретами и паролями
secret-*

# Личные файлы Кощея - чтобы больше не портил наш код!
koschey-*
